@model List<HackathonManager.DTO.Mentor>
@{
    ViewBag.Title = "Index";
    var properties = typeof(HackathonManager.DTO.Mentor).GetProperties();
}

<h2>Mentors</h2>

<p>Number of mentors: @Model.Count()</p>

<button type="button" class="btn btn-primary">Add New</button>
<button type="button" class="btn btn-primary">Pull Mentors From SRND</button>

@using (Html.BeginForm())
{
<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            @{
                foreach (var property in properties)
                {
                    <th>@property.Name</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var mentor in Model)
            {
        <tr>
            <td><input type="submit" value="Edit" class="btn btn-primary" /></td>
            @foreach (var value in mentor.GetType().GetProperties())
    {
        <td>@value.GetValue(mentor, null)</td>
}
        </tr>
        }
        }
        </tbody>
    </table>
}