@model List<HackathonManager.DTO.Mentor>
@{
    ViewBag.Title = "Index";
    var properties = typeof(HackathonManager.DTO.Mentor).GetProperties();
}

<h2>Index</h2>

Number of mentors: @Model.Count()

<table class="table table-hover">
    <thead>
        <tr>
            @{ 
                foreach (var property in properties)
                {
            <th>@property.Name</th>
                }
            }
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <td>3</td>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>
