@model List<HackathonManager.DTO.Mentor>
@{
    ViewBag.Title = "PullMentors";
    var properties = typeof(HackathonManager.DTO.Mentor).GetProperties();
}

<h2>Pull Mentors Srnd' "Clear" Backend</h2>
<br />
<h4>Entities Not Found In HackathonHandler Database: </h4>
@using (Html.BeginForm())
{
    <table class="table table-hover">
        <thead>
            <tr>
                @{
                    foreach (var property in properties)
                    {
                        <th>@property.Name</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var mentor in Model)
                {
                    <tr>
                        @foreach (var value in mentor.GetType().GetProperties())
                        {
                            <td>@value.GetValue(mentor, null)</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}