@model HackathonManager.WebMvc.Controllers.MentorRequest

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Mentor.FirstName Request Updates For @Model.Team.Name</h2>

<h2>Request Updates</h2>
<p>Mentor: @Model.Mentor.FirstName</p>
<p>Team: @Model.Team.Name</p>

<button>Has Arrived</button>

