@model List<HackathonManager.Judge>
    @{
        ViewBag.Title = "Index";
        var properties = typeof(HackathonManager.Judge).GetProperties();
    }

    <h2>Judges</h2>

    <a class="btn btn-primary" href="/Judges/Create">Add New</a>

    @using (Html.BeginForm())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <td></td>
                    @{
                        foreach (var property in properties)
                        {
                            <th>@property.Name</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var judge in Model)
                    {
                        <tr>
                            <td><a class="btn btn-primary" href="/Judges/Edit?id=@judge.GuidId">Edit</a></td>
                            @foreach (var value in judge.GetType().GetProperties())
                            {
                                <td>@value.GetValue(judge, null)</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
