@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>On Premise Mentors</h1>
    <p class="lead">Browse through the selection of on premise mentors. If they're available you can request their assistance; doing so will send the user a sms message allerting them to come meet up with you. If the mentor accepts the request to help their card will be greyed out until they are finished.</p>
    <p><a href="https://lazz.tech" class="btn btn-primary btn-lg">Check out www.lazz.tech</a></p>
</div>

<!-- Trying to prevent youtube autoplay until modal opens then end on hide
   <script>
    $('#exampleModalCenter').on('hide', function () {
        $('.modal-body iframe').attr('src', '');
    });
</script>
-->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Help is on the way :)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/iWXebEeGwn0?rel=0&amp;controls=0&amp;showinfo=0&amp;start=308" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <!--
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
    -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="http://lazz.tech/uploads/2018/03/03/IMG_20180302_200735_212.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gian Lazzarini</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Request Their Assistance
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="http://lazz.tech/uploads/2018/03/03/IMG_20180302_200735_212.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gian Lazzarini</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Request Their Assistance</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="http://lazz.tech/uploads/2018/03/03/IMG_20180302_200735_212.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gian Lazzarini</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Request Their Assistance</a>
            </div>
        </div>
    </div>
</div>